// $(".more_info").hide();
$(".ajax-loader").hide();

<% if @twitter_posts.present? %>
  $(".no_results_found").remove();
<% else %>
  $(".show_more_link").hide();
<% end %>

<% unless @example_page %>
  $('.post .bubble')
    .replaceText(/(<%=j params[:q].gsub(/[\"\']/,"").gsub(/\s+/,"|") %>)/gi, '<span class="highlight">$1</span>')
    .replaceText(/(\bhttp\:\/\/.+\.[^\s]+)/, '<a href="$1" class="text_link">$1</a>');
<% end %>