@import "foundation/common/ratios";
@import "foundation";
@import "search";

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.logo{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  a{
    color: #000;
    &:hover{
      border-bottom: 2px solid #000;
    }
  }

}

//added to foundation
.container{
  padding: 20px 0px;
}
.alert-box{
  text-align:center;
}
.centered{
  text-align: center;
}

